.fondo{
  background: #1252a1;
  padding: 0 30px;
  line-height: 3;
}
.title{
  font-size: 15px;
  color: white;
  font-weight: 600;
}
.size_icon{
  font-size: 20px;
  color: white;
  cursor: pointer;
}
