<nz-layout class="layout">

  <!-- <nz-header> -->
  <app-header></app-header>
  <!-- </nz-header> -->

  <nz-layout>

    <nz-content>

      <div style="padding: 10px;">
        <span style="font-size: 18px;font-weight: 700;">Directorio de empleados</span>
        <input nz-input placeholder="Buscar..." [(ngModel)]="searchValue" style="margin-top: 20px;"/>
      </div>

      <div nz-row>

        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngFor="let item of List_Employee | filter:searchValue"
          style="padding: 10px;">
          <div class="margin">
            <div nz-row>
              <div nz-col style="margin-block: auto;margin-right: 15px;">
                <img src="assets\img\avatar.png" class="img">
              </div>
              <div nz-col>
                <p>
                  <span class="nombre"><span class="apellido">{{ item?.apellido }}</span>, {{ item?.nombre }}</span>
                  <br />
                  <span class="puesto">{{ item?.puesto }}</span>
                  <br />
                  <span class="telefono">{{ item?.telefono }}</span>
                  <br />
                  <span class="email">{{ item?.email }}</span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </nz-content>

  </nz-layout>

  <!-- <nz-footer> -->
  <!-- <app-footer></app-footer> -->
  <!-- </nz-footer> -->

</nz-layout>
